html {
	background-color: lightgreen;
	color: blue;
	border-left-style:ridge;
	border-color: lightgreen;
	border-width: 20px;
}
h1, h2{
	color: darkgreen;
}
h3{
	color: red;
	padding: 16px
	margin: 20px
	
	
}
main p{
	color: ;
}
p{
	font-family: "serif";
}
