html{
	background-color: lightgreen;
	border: solid 30px purple;
}
h1{
	border-bottom: dotted red;
	background: green;
	color:red;
	padding: 13px;
	top:12px;
}
header{
	font-size: 15px;
	background:yellow;
}

body{
	color: blue;
}
nav {
	background: darkorange;
}
main ol{
	color:lightorange;
}
main p{
	background: black;
}

h2
	background: green;
}
p{
	
}
footer{
 color:red;
}

